.chart {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 11px;
}

.event-name { text-anchor: middle }

g.g-strip g.s rect {
  fill: #0fb;
  stroke: black;
  fill-opacity: .8;
}

g.g-strip g.sc rect {
  fill: #04f;
  stroke: black;
  fill-opacity: .8;
}

text {
  pointer-events: none;
}

.g-axis path, .g-axis line {
    fill: none;
    stroke: black;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.g-axis text {
    color:black;
    font-family: sans-serif;
    font-size: 11px;
}

